<div class="field">
  <div class="control">
    <div id="setsreps">
      <input class="input" type="text" placeholder="Sets" style="width: 60px" />
      <input
        class="input"
        type="text"
        placeholder="X"
        disabled
        style="width: 34px; border: none; background: none"
      />
      <input class="input" type="text" placeholder="Reps" style="width: 60px" />
      <input
        class="input"
        type="text"
        placeholder="reps"
        disabled
        style="width: 60px; border: none; background: none"
      />
    </div>
  </div>
</div>

<style>
  #setsreps {
    margin-bottom: 5px;
  }
</style>
